/* Path: style.css */
/* Estos son los estilos para la versión móvil que es por donde se empieza (los predeterminados) */
body{
    background: rgba(207, 195, 216, 0.478);
    font-family: 'Roboto', sans-serif;
    color: black;
}

h1{
    text-transform: uppercase;
    color: rgba(89, 41, 41, 0.763);
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px #ccc;
    background-image: url("https://img.freepik.com/vector-gratis/siluetas-personas-bailando_1048-620.jpg");
    height: 130px;
    padding-top: 15px;
}

h2{
    color:rgb(142, 21, 21);
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(246, 243, 243);
}

.audios{
    margin-top: 10px;
}

.parteizq{
    width: 95%;
    background: rgba(229, 138, 138, 0.478);
    padding: 10px;
    border: 1px solid black;
}

h3{
    color: rgb(108, 18, 18);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.padre{
    display: flex;
    flex-direction: column;
}

.cuerpo{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parte{
    display:flex;
    flex-direction: column;
}

figure{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.img1{
    margin-left: 50px;
    width: 60%;
}

.img2{
    margin-left:50px;
    margin-top:10px;
    width: 70%;
}

.lista{
    line-height: 2;
}

.enviar{
    margin-left: 50px;
}

.imagen3{
    text-align: center;
}

.img3{
    width: 70%;
}

.img4{
    width: 60%;
    margin-right: 10px;
}

.imagen5{
    text-align: center;
}
.img5{
    width: 70%;
    text-align: center;
}

.imagen6{
    text-align: center;
}
.img6{
    width: 60%;
}

.videoflamenco{
    width: 300px;
    height: 150px;
}

.videoballet{
    width: 300px;
    height: 150px;
}

.videocontemporaneo{
    width: 300px;
    height: 150px;
}

.negrita{
    font-weight: bold;
}

.subrayado{
    text-decoration: underline wavy;
}

.sorpresa{
    text-align: center;
}

#quizlabel{
    display: block;
}

footer{
    text-align: center;
    height: 180px;
    padding: 10px;
    background-color: whitesmoke;
}

.logo1{
    width: 10%;
    height: 20%;
    margin-left: 20px;
}

.logo2{
    width: 10%;
    height: 20%;
    margin-right: 20px;
}

.parteabajo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.textogracias{
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

.footergracias{
    margin-top: 180px;
}

/*Aquí se incluyen los estilos para la versión de tablet */
@media(min-width: 540px) and (max-width: 767px){
    body{
        background: rgba(74, 213, 211, 0.478);
    }

    .parte{
        display:flex;
        flex-direction: row;
    }

    .img1{
        width: 70%;
    }

    .img2{
        width: 70%;
    }

    .img3{
        width: 60%;
    }

    .img4{
        width: 40%;
        height: 50%;
    }

    .img5{
        width: 50%;
    }

    .img6{
        width: 40%;
    }

    .videoflamenco{
        width: 400px;
        height: 230px;
    }

    .videoballet{
        width: 400px;
        height: 230px;
    }

    .videocontemporaneo{
        width: 400px;
        height: 230px;
    }

    footer{
        margin-top: 20px;
    }

}

/* Aquí solo se incluyen los estilos que cambian para la versión de escritorio */
@media(min-width: 768px) {
    body{
        background: rgba(136, 119, 119, 0.478);
    }

    h1{
        padding-top: 20px;
    }

    h2{
        background-color: lightgrey;
    }

    .parteizq{
        width: 20%;
        height: 30%;
        background: rgb(162, 151, 151);
        position: fixed;
        font-size: 17px;
    }

    h3{
        color: rgb(36, 17, 17);
    }

    .padre{
        display: flex;
        flex-direction: row;
    }
    .columna1{
        width: 25%;
    }

    .columna2{
        width: 75%;
    }

    .parte{
        display:flex;
        flex-direction: row;
    }

    .img1{
        width: 80%;
    }

    .img2{
        width: 60%;
    }

    .img3{
        width: 50%;
    }

    .img4{
        width: 30%;
    }

    .parte2{
        display: flex;
        flex-direction: row;
    }
    .img5{
        width: 30%;
    }

    .img6{
        width: 30%;
    }

    .videoflamenco{
        width: 550px;
        height: 300px;
    }

    .videoballet{
        width: 550px;
        height: 300px;
    }

    .videocontemporaneo{
        width: 550px;
        height: 300px;
    }

    footer{
        padding: 20px;
    }

    .logo1{
        margin-left: 100px;
    }

    .logo2{
        margin-right: 100px;
    }

    .textogracias{
        padding: 40px;
    }

}
